* {
  margin: 0;
  padding: 0;
}

/* Background */
body {
  background-color: #FFE0E0;
  /* Warm Beige */
  color: #333333;
  /* Dark Gray */
  font-family: 'Lato', sans-serif;
  line-height: 1.6;
  overflow-x: hidden;
}
:root {
  --animate-duration: 2s;
  --animate-delay: 0.9s;
}

.img-group-banner {
  height: 100%;
  width: 100%;
  max-height: 250px;
  min-height: 250px;
  max-width: 200px;
  min-width: 200px;
  margin: 10px 20px;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
  border: 2px solid rgb(218, 73, 97);
}

#bannertext {
  text-align: center;
  color: rgb(218, 73, 97);
  font-size: 17.4px;
  font-weight: 600;
 font-family: "Lucida Handwriting";
}


.avatar {
  width: 100%;
  height: 100%;
  max-width: 200px;
  min-width: 200px;
  max-height: 200px;
  min-height: 200px;
  overflow: hidden;
  transition: transform 0.6s;
  background-color: white;
  object-fit: cover;
  object-position: center;
}

.start-con {
  background-image: url('/image/lovebg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  background-size: cover;
}

.home-con {
  background-color: ffa5c1;
}

.avatar:hover {
  transform: scale(1.06);
}

.heart-box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.heart-shape {
  font-size: 90px;
  color: rgb(218, 73, 97);
}

#count-days {
  color: azure;
  font-weight: bold;
  font-size: 16px;
}

.avatar-box {
  width: 100%;
  height: 100%;
  max-width: 200px;
  min-width: 200px;
  max-height: 200px;
  min-height: 200px;
  border-radius: 50%;
  overflow: hidden;
  object-fit: cover;
  object-position: center;
  margin: 8px 26px;
}

.nickname {
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  color: rgb(218, 73, 97);
}

.male {
  background-color: rgb(218, 73, 97);
  padding: 5px;
  color: azure;
  border-radius: 50%;
}

.female {
  background-color: rgb(218, 73, 97);
  padding: 5px 7px;
  color: azure;
  border-radius: 50%;
}

.tab-btn {
  background: none;
  border: none;
  outline: none;
  color: #858585;
  margin: 2px 3.5px;
  font-size: 20px;
}

.tab-active {
  color: rgb(218, 73, 97);
}

.slogan {
  margin-top: 10px;
  text-align: center;
  color: rgb(218, 73, 97);
  font-size: 18px;
  font-weight: 600;
  font-family: "Lucida Handwriting";
}
.audio {
  margin-top: 10px;
  text-align: center;
}

audio {
  width: 100%;
  max-width: 300px; /* Adjust as needed */
  height: 30px;
}

audio::-webkit-media-controls-panel {
  background-color: rgb(218, 73, 97);
  height: 30px;
  padding: 0;
}

audio::-webkit-media-controls-play-button,
audio::-webkit-media-controls-mute-button,
audio::-webkit-media-controls-current-time-display,
audio::-webkit-media-controls-time-remaining-display,
audio::-webkit-media-controls-seek-back-button,
audio::-webkit-media-controls-seek-forward-button {
  background-color: rgb(218, 73, 97);
  height: 30px;
  padding: 0;
}

audio::-webkit-media-controls-timeline {
  background-color: rgb(218, 73, 97);
  height: 5px; /* Adjust as needed */
  margin: 0;
  padding: 0;
}

audio::-webkit-media-controls-timeline-container {
  height: 5px; /* Adjust as needed */
}

audio::-webkit-media-controls-current-time-display,
audio::-webkit-media-controls-time-remaining-display {
  line-height: 30px; /* Center the text vertically */
}


.tab-box {
  max-height: 204px;
}

#count {
  color: rgb(218, 73, 97);
}

.count-box {
  background-color: rgb(218, 73, 97);
  padding: 30px;
  margin: 4px;
  border-radius: 9px;
  color: azure;
  width: 100%;
  max-width: 120px;
  min-width: 120px;

}

.count-num {
  text-align: center;
  padding-bottom: 3px;
  font-size: 20px;
  font-weight: bold;
}

.count-fix {
  background-color: azure;
  color: rgb(218, 73, 97);
  font-size: 16px;
  padding: 1.5px 8px;
  border-radius: 4px;
  text-align: center;
  font-weight: 400;
}


.glass {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  padding: 20px 40px;
  text-align: center;
  max-width: 400px;
  margin: auto;
  color: #fff;
}

.banner-img {
  width: 100%;
  max-width: 400px;
  min-width: 400px;
  max-height: 260px;
  min-height: 260px;
  object-fit: cover;
  object-position: center;
  overflow: hidden;
  border-radius: 20px;
  border: 3px solid rgb(218, 73, 97);
}
.bawder {
  border: 1px solid black;
}
.anni-con {
  background-image: url('/image/annibg3.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  background-size: cover;
}
.firstlove-con {
  background-image: url('/image/lovepink.jpg');
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  background-size: cover;
}

.heart-img-box {
  overflow: hidden;
}
.heart-img {
  width: 100%;
  height: 100%;
  max-width: 105px;
  min-width: 105px;
  max-height: 105px;
  min-height: 105px;
  object-fit: cover;
  object-position: center;
  overflow: hidden;
  border-radius: 7px;
  border: 1px solid rgb(218, 73, 97);
  margin: 2px;
}
.kiss-img {
  width: 100%;
  height: 100%;
  max-width: 1500px;
  min-width: 150px;
  max-height: 150px;
  min-height: 150px;
  object-fit: cover;
  object-position: center;
  overflow: hidden;
  border-radius: 7px;
  border: 2px solid rgb(218, 73, 97);
  margin: 5px 3px;
}
.hand-quote {
  color: rgb(218, 73, 97);
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  font-family: "Lucida Handwriting";
  margin-bottom: 20px;
}
.hand-img {
  width: 100%;
  height: 100%;
  max-width: 100px;
  min-width: 100px;
  max-height: 100px;
  min-height: 100px;
  object-fit: cover;
  object-position: center;
  overflow: hidden;
  border-radius: 7px;
  border: 1px solid rgb(218, 73, 97);
  margin: 5px;
}
.hand-con {
  background-image: url('/image/lovebg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  background-size: cover;
}
.iloveu {
  font-size: 10px;
  font-weight: lighter;
  color: rgb(218, 73, 97);
  font-family: "Lucida Handwriting";
}
.memo-img {
  width: 100%;
  height: 100%;
  max-width: 200px;
  min-width: 200px;
  max-height: 200px;
  min-height: 200px;
  object-fit: cover;
  object-position: center;
  overflow: hidden;
  border-radius: 7px;
  border: 1px solid rgb(218, 73, 97);
  margin: 2px;
}
.mylove {
  width: 100%;
  height: 100%;
  max-width: 150px;
  min-width: 150px;
  max-height: 150px;
  min-height: 150px;
  object-fit: cover;
  object-position: center;
  overflow: hidden;
  border-radius: 7px;
  border: 1px solid rgb(218, 73, 97);
  margin: 4px;
}
.mylove-msg {
  font-size: 18px;
  font-weight: bolder;
  font-family: Garamond;
  color: rgb(218, 73, 97);

}
.mylove-msg div {
  margin: 10px 2px;
  text-align: justify;
}
.anni-msg {
  font-size: 19.3px;
  font-weight: bolder;
  font-family: Garamond;
  color: rgb(218, 73, 97);
}
.anni-msg div {
  margin: 10px 2px;
  text-align: justify;
}
.copyright {
  text-align: center;
  font-size: 16px;
  padding: 13px 0px;
  font-family: Arial;
  font-weight: 600;
}

.anni-title {
  font-size: 32px;
  color: rgb(218, 73, 97);
  font-family: "Lucida Handwriting";
  font-weight: bolder;
  margin-bottom: 24px;
}
#kisstext{
  font-size: 22px;
  color: rgb(218, 73, 97);
  font-family: "Lucida Handwriting";
  font-weight: bolder;

}

a {
  text-decoration: none;
}

#annimsg {
  animation-duration: 1500ms;
}

#anniimg{
  animation-duration: 1500ms;
}

#firsttab {
  animation-duration: 1500ms;
}
#mylove7 {
  animation-duration: 1000ms;
}
#mylove8 {
  animation-duration: 1200ms;
}
#mylove4 {
  animation-duration: 1350ms;
}
#mylove9 {
  animation-duration: 1500ms;
}
#mylove1 {
  animation-duration: 1800ms;
}
#mylove6 {
  animation-duration: 1380ms;
}
#mylovemsg {
  animation-duration: 1600ms;
}


@media screen and (max-width: 990px) {

  .navitem {
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
  }

  .navitem a {
    margin-bottom: 20px;
  }

  .navi-bar {
    display: block;
  }
}

/* Responsive Design */
@media (max-width: 1024px) {
  .mylove-msg {
    font-size: 16px;
    font-weight: bold;
  }
  .mylove-msg div {
    margin: 1px 2px;
  }
}
@media (max-width: 920px) {
  .mylove-msg {
    font-size: 22px;
    font-weight: bold;
  }
  .mylove-msg div {
    margin: 1px 2px;
  }
}
@media (max-width: 768px) {
  .mylove-msg {
    font-size: 16px;
    font-weight: bold;
  }
  .mylove-msg div {
    margin: 1px 2px;
  }
}
@media (max-width: 768px) {
  .mylove-msg {
    font-size: 16px;
    font-weight: bold;
  }
  .mylove-msg div {
    margin: 1px 2px;
  }
}

@media (max-width: 480px) {
  .kiss-banner {
    margin: 0;
    padding: 0;
    max-width: 200px;
    min-width: 200px;
    max-height: 300px;
    min-height: 300px;
  }
}

@media (max-width: 440px) {
  .count-box {
    padding: 17px;
    margin: 2px;
    margin-top: 9px;
    border-radius: 7px;
    max-width: 80px;
    min-width: 80px;
  }

  .count-num {
    text-align: center;
    padding-bottom: 3px;
    font-size: 15px;
    font-weight: 600;
  }

  .count-fix {
    font-size: 11px;
    padding: 1px 7px;
    border-radius: 4px;
    font-weight: 300;
  }

  .slogan {
    margin-top: 12px;
    font-size: 14px;
    font-weight: 600;
  }

  .tab-btn {
    font-size: 18px;
  }

  .avatar {
    width: 100%;
    height: 100%;
    max-width: 116px;
    min-width: 116px;
    max-height: 116px;
    min-height: 116px;
    overflow: hidden;
    transition: transform 0.6s;
  }

  .avatar-box {
    width: 100%;
    height: 100%;
    max-width: 116px;
    min-width: 116px;
    max-height: 116px;
    min-height: 116px;
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
    object-position: center;
    margin: 8px 16px;
  }

  .heart-box {
    align-items: unset;
    padding: 36px 14px;
  }

  .heart-shape {
    font-size: 50px;
  }

  #count-days {
    padding-top: 17px;
    font-size: 10px;
  }

  .banner-img {
    width: 100%;
    max-width: 340px;
    min-width: 340px;
    max-height: 190px;
    min-height: 190px;
    border-radius: 9px;
  }
  .count-con {
    padding-bottom: 16px;
  }

  .tab-box {
    max-height: 190px;
  }
  .nickname {
    font-size: 13px;
  }
  .male {
    font-size: 10px;
  }
  .female {
    font-size: 10px;
  }
  .img-group-banner {
   
    max-height: 150px;
    min-height: 150px;
    max-width: 120px;
    min-width: 120px;
    margin: 10px;
    border-radius: 7px;
  }
  #bannertext {
    font-size: 10px;
  }
  audio {
    max-width: 70%;
  }
  .anni-msg {
    padding: 20px;
    font-size: 13px;
    font-weight: bold;
  }
  .heart-img {
    max-width: 52px;
    min-width: 52px;
    max-height: 52px;
    min-height: 52px;
    border-radius: 4px;
    margin: 2.1px;
  }
  .mylove {
  
    max-width: 75px;
    min-width: 75px;
    max-height: 75px;
    min-height: 75px;
    border-radius: 6px;
    margin: 3px;
  }
  .mylove-msg {
    font-size: 13px;
    font-weight: bold;
  }
  .mylove-msg div {
    margin: 1px 2px;
  }
  
  .hand-img {
    max-width: 47px;
    min-width: 47px;
    max-height: 47px;
    min-height: 47px;
    border-radius: 6px;
    border: 1px solid rgb(218, 73, 97);
    margin: 4px 2px;
  }
  .iloveu {
    font-size: 4.8px;
    margin: 4px 0px;
  }
  .hand-quote {
    font-size: 17px;
    font-weight: bold;
    font-family: "Lucida Handwriting";
    margin-bottom: 23px;
  }
  .anni-title {
    font-size: 16px;
    color: rgb(218, 73, 97);
    font-family: "Lucida Handwriting";
    font-weight: bold;
    margin-bottom: 18px;
  }
  .kiss-banner {
    margin: 0;
    padding: 0;
    max-width: 150px;
    min-width: 150px;
    max-height: 280px;
    min-height: 280px;
  }
  #kisstext {
    font-size: 15px;
  }
  .copyright {
    font-size: 12px;
  }
}